<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EntitiesToDtos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <EntitiesToDtos.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value/>
            </setting>
            <setting name="userid" serializeAs="String">
                <value/>
            </setting>
            <setting name="indextipo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value/>
            </setting>
            <setting name="port" serializeAs="String">
                <value/>
            </setting>
            <setting name="bd" serializeAs="String">
                <value/>
            </setting>
            <setting name="namespacedto" serializeAs="String">
                <value/>
            </setting>
            <setting name="namespaceentities" serializeAs="String">
                <value/>
            </setting>
            <setting name="outputdto" serializeAs="String">
                <value/>
            </setting>
            <setting name="outputassembers" serializeAs="String">
                <value/>
            </setting>
            <setting name="generarassemblers" serializeAs="String">
                <value>False</value>
            </setting>
        </EntitiesToDtos.Properties.Settings>
    </userSettings>
</configuration>
